.btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 2px;
  background-color: blueviolet;
  color: white;
  white-space: nowrap;
}

/* comes from SignUp or SignIn component */
.btnDanger {
  background-color: white;
  border: 2px solid #d50000;
  color: #d50000;
}

.btnHeightWidth100 {
  height:100%;
  width: 100%;
}

/* comes from Task component */
.smallBtn {
  font-size: 11px;
  padding: 3px 4px;
}

.newTaskSpecific {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 12px;
  height: 100%;
}