/* for all button */
.btn {
  border: none;
  cursor: pointer;
  background-color: white;
  white-space: nowrap;
}

/* small button */
.btnSmall {
  padding: 2px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 16px;
}

/* medium button */
.btnMedium {
  padding: 8px 12px;
  border-radius: 6px;
}

/* large button */
.btnLarge {
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 2px;
}

/* button blue violet */
.btnBlueviolet {
  background-color: blueviolet;
  color: white;
}

/* disabled button */
.btn:disabled {
  background-color: #dadada;
  color: gray;
  cursor: not-allowed;
}

/* button danger */
.btnDanger {
  background-color: white;
  border: 1px solid #d50000;
  color: #d50000;
}

/* button full height and width */
.btnFullHeightWidth {
  height: 100%;
  width: 100%;
}

/* button with gray border */
.btnGrayBorder {
  border: 1px solid gray;
}

/* for buttons with icon */
.btnFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

/* NewTask component's create task btn */
.createTaskBtn {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 12px;
  height: 100%;
}