.input {
    height: 100%;
    width: 100%;
    border: 0.7px solid #a5a5a5;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 10px;
}

.inputBorderRadiusLg {
    border-radius: 25px;
}

.inputDashedBorder {
    border-style: dashed;
}
.inputBorderBlueviolet {
    border-color: blueviolet;
}