/* center the form */
.containerWrapper {
  min-height: 100vh;
}
/* main form container */
.container {
  width: 330px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* form header */
.containerHeader {
  margin-bottom: 30px;
  text-align: center;
}
/* logo */
.logo {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}
/* title of the form*/
.title {
  font-size: 40px;
  font-weight: 500;
}
.formOuter {
  width: 100%;
  overflow: hidden;
}
.form {
  display: flex;
  width: 400%;
}
.page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.field {
  height: 45px;
  margin: 30px 0 5px 0;
}
.inputField {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(161, 155, 155);
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.columnGap {
  column-gap: 10px;
}
