/* main form container */
.formContainer {
  background-color: white;
  width: 330px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* form title */
.formTitle {
  margin-bottom: 26px;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
}
.formOuter {
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}
.form {
  display: flex;
  width: 400%;
}
.page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.field {
  height: 45px;
  margin: 30px 0 5px 0;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.columnGap {
  column-gap: 10px;
}
