.newTask {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.field {
    height: 38px;
    position: relative;
    margin-top: 4px;
}

.inputField {
    height: 100%;
    width: 100%;
    border: 0.7px solid #a5a5a5;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    padding: 0 10px;
}

.message {
    grid-column-start: 2;
}