.progressContainer {
  position: relative;
  padding: 0 7px;
  width: 100%;
}

.progressTooltip {
  text-align: right;
  margin-bottom: 5px;
}
.progressTooltipText {
  position: relative;
  font-size: 10px;
  white-space: nowrap;
  border: 0.5px solid blueviolet;
  padding: 1px;
  color: blueviolet;
  border-radius: 6px;
}
.progressTooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: blueviolet transparent transparent transparent;
}

/* Credit: https://www.w3docs.com/snippets/css/how-to-animate-the-background-of-the-progress-bar.html */
progress[value] {
  display: block;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px;
  box-shadow: inset 4px 4px 4px rgba(84, 30, 8, 0.2);
  background-color: rgba(149, 250, 61, 0.1);
}
progress.animate {
  animation: colorrush 4s infinite linear;
}
progress[value]::-webkit-progress-inner-element {
  border-radius: 8px;
  overflow: hidden;
  background-position: inherit;
}
progress[value]::-webkit-progress-bar {
  border-radius: 8px;
  background-color: transparent;
  background-position: inherit;
}
progress[value]::-webkit-progress-value {
  border-radius: 10px 0 0 10px / 10px 0 0 10px;
  box-shadow: inset 2px 2px 2px rgba(90, 90, 92, 0.2);
  background: repeating-linear-gradient(
      45deg,
      transparent 0 6px,
      rgba(0, 0, 0, 0.1) 6px 12px
    ),
    linear-gradient(rgba(137, 43, 226, 0.63), rgba(137, 43, 226, 0.63));
  background-size: calc(12px / 0.707) 100%, 100% 800%;
  background-position: inherit;
}
progress[value]::-moz-progress-bar {
  border-radius: 10px 0 0 10px / 10px 0 0 10px;
  box-shadow: inset 2px 2px 2px rgba(90, 90, 92, 0.2);
  background: repeating-linear-gradient(
      45deg,
      transparent 0 6px,
      rgba(0, 0, 0, 0.1) 6px 12px
    ),
    linear-gradient(rgba(137, 43, 226, 0.63), rgba(137, 43, 226, 0.63));
  background-size: calc(12px / 0.707) 100%, 100% 800%;
  background-position: inherit;
}
@keyframes colorrush {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(10 * (12px / 0.707)) 100%;
  }
}
