/* popup */
.popup {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    padding: 2px;
    right: 0%;
    top: 110%;
    animation: fadeIn 0.5s;
}

/* popup animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* arrow above popup */
.popup::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(225, 194, 255) transparent;
}

/* popup arrow positioning for task settngs three dots icon */
.forTaskSettings.popup::after {
    right: 7%;
}
/* popup arrow positioning for navbar avatar */
.forNavbarAvatar.popup::after {
    right: 17%;
}