.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0 12px;
    background: rgba(0, 0, 0, 0.363);
    animation: modalAnimation 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946) forwards;
}

@keyframes modalAnimation {
    0% {
        opacity: 0;
        transform: scale(1.15);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modalContent {
    max-width: 500px;
    background: #fefefe;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;}

.modalHeader {
    border-bottom: 1.9px solid #cac9c9;
    padding: 5px;
    position: relative;
}

.title {
    font-weight: 400;
}

/* close btn */
.close {
    position: absolute;
    top: 4px;
    right: -9px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c4c4c4;
    line-height: 15px;
    text-align: center;
}

.close:hover {
    color: rgba(0, 0, 0, 0.363);
    cursor: pointer;
}