.center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}
.wrapper {
  padding: 12px;
}
/* logo */
.logo {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}