.taskItem {
  padding: 1em 0 0 1.5em;
  border-left: 1.6px solid #cac9c9;
  border-bottom: 1.6px solid #cac9c9;

  border-bottom-left-radius: 8px;
  margin-top: -3px;

  transition: border 2s ease-out;

  /* for play pause icon */
  position: relative;
}

.task {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 15px;
  display: flex;
}

.taskDetailsWrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.taskDetails {
  padding: 15px 7px 7px 7px;
}
.taskNameAndSettings {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  margin-bottom: 10px;
}
.timeSpans {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.zzzContainer {
  text-align: center;
}
.zzz {
  height: 50px;
}