.taskItem {
  padding: 1em 0 0 1.5em;
  border-left: 1.6px solid #cac9c9;
  border-bottom: 1.6px solid #cac9c9;

  border-bottom-left-radius: 8px;
  margin-top: -3px;

  transition: border 2s ease-out;

  /* for play pause icon */
  position: relative;
}

.iconWrapper {
  height: 1.6em;
  width: 1.6em;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}
.iconContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.iconBorder {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-clip: content-box;
  border: 2.5px dashed #a5a5a5;
}
.iconBorder.spin {
  border-color: blueviolet;
  animation: spin 10s linear infinite;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.task {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 15px;
  display: flex;
}

.currentLevel {
  writing-mode: vertical-rl;
  text-align: center;
  background-color: #a5a5a5;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 8px 5px;
  font-weight: 300;
  letter-spacing: 2px;
}

.taskDetailsWrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.taskDetails {
  padding: 15px 7px 7px 7px;
}
.taskNameAndSettings {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  margin-bottom: 10px;
}
.taskSettings {
  flex-basis: 2em;
  cursor: pointer;
}
.timeSpans {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.zzzContainer {
  text-align: center;
}
.zzz {
  height: 50px;
}

/* progress*/
.progressContainer {
  position: relative;
  padding: 0 7px;
  width: 100%;
}

.progressTooltip {
  text-align: right;
  margin-bottom: 5px;
}
.progressTooltipText {
  position: relative;
  font-size: 10px;
  white-space: nowrap;
  border: .5px solid blueviolet;
  padding: 1px;
  color: blueviolet;
  border-radius: 6px;
}
.progressTooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: blueviolet transparent transparent transparent;
}

/* Credit: https://www.w3docs.com/snippets/css/how-to-animate-the-background-of-the-progress-bar.html */
progress[value] {
  display: block;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px;
  box-shadow: inset 4px 4px 4px rgba(84, 30, 8, 0.2);
  background-color: rgba(149, 250, 61, 0.1);
}
progress.animate {
  animation: colorrush 4s infinite linear;
}
progress[value]::-webkit-progress-inner-element {
  border-radius: 8px;
  overflow: hidden;
  background-position: inherit;
}
progress[value]::-webkit-progress-bar {
  border-radius: 8px;
  background-color: transparent;
  background-position: inherit;
}
progress[value]::-webkit-progress-value {
  border-radius: 10px 0 0 10px / 10px 0 0 10px;
  box-shadow: inset 2px 2px 2px rgba(90, 90, 92, 0.2);
  background: repeating-linear-gradient(
      45deg,
      transparent 0 6px,
      rgba(0, 0, 0, 0.1) 6px 12px
    ),
    linear-gradient(rgba(137, 43, 226, 0.63), rgba(137, 43, 226, 0.63));
  background-size: calc(12px / 0.707) 100%, 100% 800%;
  background-position: inherit;
}
progress[value]::-moz-progress-bar {
  border-radius: 10px 0 0 10px / 10px 0 0 10px;
  box-shadow: inset 2px 2px 2px rgba(90, 90, 92, 0.2);
  background: repeating-linear-gradient(
      45deg,
      transparent 0 6px,
      rgba(0, 0, 0, 0.1) 6px 12px
    ),
    linear-gradient(rgba(137, 43, 226, 0.63), rgba(137, 43, 226, 0.63));
  background-size: calc(12px / 0.707) 100%, 100% 800%;
  background-position: inherit;
}
@keyframes colorrush {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(10 * (12px / 0.707)) 100%;
  }
}
