/* center the form */
.containerWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main form container */
.container {
  width: 330px;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 50px 30px 10px 30px;
  text-align: center;
}
/* form header */
.containerHeader {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.formOuter {
  width: 100%;
  overflow: hidden;
}
.form {
  display: flex;
  width: 300%;
}
.page {
  width: 33.33%;
  transition: margin-left 0.3s ease-in-out;
}
.field {
  height: 45px;
  margin: 30px 0;
  display: flex;
  column-gap: 15px;
}
.inputField {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
}
.btn {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:hover {
  background: white;
}
