/* center the form */
.containerWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* logo */
.logo {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 5px;
}
/* main form container */
.containerInner {
  width: 330px;
  border-radius: 5px;
  padding: 50px 30px 10px 30px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
/* form header */
.containerHeader {
  color: black;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}

.formOuter {
  width: 100%;
  overflow: hidden;
}
.form {
  display: flex;
  width: 300%;
}
.page {
  width: 33.33%;
  transition: margin-left 0.3s ease-in-out;
}
.field {
  position: relative;
  height: 45px;
  margin: 25px 0 45px 0;
  display: flex;
  column-gap: 15px;
}
.inputField {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
}
.error {
  position: absolute;
  display: flex;
  column-gap: 2px;
  bottom: -38px;
  text-align: left;
}
.errorIcon {
  background-color: #d50000;
  color: white;
  border-radius: 50%;
}
.errorMessage {
  color: #d50000;
}
.btn {
  width: 100%;
  height: calc(100% + 5px);
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease-in-out ;
}
.btn.prev {
  background-color: white;
  color: black;
  border: 0.8px solid black;
}

.btn:hover {
  background: white;
  color: black;
  border: 0.8px solid black;
}

.btn.prev:hover {
  background-color: black;
  color: white;
}
