/* form progress bar */
.progressBar {
    display: flex;
    margin: 10px 0;
  }
  .step {
    position: relative;
    width: 100%;
  }
  .stepName {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 8px;
    transition: color 0.3s ease;
  }
  .step.active .stepName {
      color: black;
  }
  .bullet {
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
  }
  .step.active .bullet {
      border-color: #bbbbbb;
      background: #bbbbbb;
      transition: border-color 0.3s ease;
  }
  .bullet::after, .bullet::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 2px;
    border-bottom: 1px dashed #bbbbbb;
    background-color: #fff;
    bottom: 9px;
    left: 24px;
  }
  .step.active .bullet::after {
    background-color: #bbbbbb;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.4s linear forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .step:last-child .bullet::before, .step:last-child .bullet::after {
    display: none;
  }
  .bulletNumber {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 300;
  }
  .step.active .bulletNumber {
      display: none;
  }
  .check {
      position: absolute;
      font-size: 15px;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
  }
  .step.active .check{
      display: block;
      color: #fff;
  }