.userStatus {
    position: relative;
    padding: 25px 12px 0 12px;
    background-color: white;
    border-radius: 5px;
}
.date {
    position: absolute;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 2px 5px;
    top: -10px;
    left: -10px;
}